body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tower {
    height: 350px;
    width: 350px;
    border: 2px solid blue;
    background-color: greenyellow;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
}

.disc {
    height: 25px;
    border-radius: 5px;
}

#posts {
    display: flex;
    justify-content: center;
    
}

#discOne {
    background-color: yellow;
    width: 100px;
}

#discTwo {
    background-color: green;
    width: 150px;

}

#discThree {
    background-color: red;
    width: 200px;
}

#discFour {
    background-color: blue;
    width: 250px;
}